PORT=3000
REDDIT_CACHE_TTL_SECONDS=3600
REDDIT_FRESH_TTL_MS=180000
REDDIT_STALE_OK_MS=600000
REDDIT_SEARCH_MAX_PAGES=8
REDDIT_SEARCH_MAX_RESULTS=2000
REDDIT_SEARCH_FALLBACK_FEED_PAGES=30
REDDIT_SEARCH_PER_SUB_PAGES=80
REDGIFS_TOKEN_CACHE_TTL_SECONDS=3600
